@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

.container-margin {
    padding-right: 0px !important;
    padding-left: 0px !important;
    margin-right:0px !important;
    margin-left:0px !important;
}

.menu-image{
    height: 128px;
    width: 128px;
}

.card{
    border: none;
    box-shadow: 0px 0px 15px #c2c2c2;
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: ease-out;
}

.card:hover{
    box-shadow:0px 0px 15px #5f5d5d;
    transform:scale(1.05);
}

.dashboard-menu-item{
    color: #2ECC71;
    text-decoration: none;
}

.dashboard-menu-item:hover{
    color: #1D8348;
    text-decoration: none;
}

.product-desc{
    min-height: 130px;
}

.background-red{
    background:linear-gradient(180deg,#f44881,#ec454f);
}

.background-violet{
    background:linear-gradient(0deg,#8b60ed,#b372bd);
}

.background-yellow{
    background:linear-gradient(0deg,#f19a1a,#ffc73c);
}

.background-green{
    background:linear-gradient(180deg,#6edcc4,#1aab8b);
}

.background-blue{
    background:linear-gradient(180deg,#21c8f6,#637bff);
}

.custome-font{
    font-family: 'Montserrat', sans-serif;
}

.price-tag{
    position:absolute;
    top: 0rem;
    left: 0rem;
    background: red;
    padding: 2px 15px;
    border-bottom-right-radius:25px;
}